
// Body
// $body-bg: #f8fafc;
$primary-bck: #EAE7DC;
$primary-acct: #D8C3A5;
$primary-dark: #8E8D8A;
$second-acct: #E98074;
$third-acct: #E85A4F;

$nav-dark: #303030;


// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
